<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/css') %>
</head>
<body>
    <h1 class="text-center">Welcome to 404</h1>
    <p>The path you requested doesn't exist, how about you <a href="/form">go here</a> instead.</p>
    <%- include('./partials/scripts') %>
</body>
</html>