<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <%- include('./partials/css') %>
  </head>
  <body>
    
    <h1 class="text-center">Pdf Generated Successfully and sent to Your drive</h1>
    <h4 class="text-center">With Love Zolo-Ryan</h4>
    <p class="text-center">If you like what I created please star my repository :)</p>
    <%- include('./partials/scripts') %>
  </body>
</html>
